<section class="top-index-wrapper wrapper">
  <div class="top-index-search-form">
    <form>
      <input type="search" placeholder="会場名で検索">
      <input type="submit" value="検索">
    </form>
  </div>

  <div class="top-index-venues">
    <div class="top-index-venues-title title">
      <h2>よく検索されている会場</h2>
    </div>
    <!-- TODO: eachで回す -->
    <div class="top-index-venue">
      <a href="#">
        <h3>パシフィコ横浜</h3>
        <p class="station-name">みなとみらい駅</p>
        <p class="on_foot">徒歩7分</p>
      </a>
    </div>
    <div class="top-index-venue">
      <a href="#">
        <h3>さいたまスーパーアリーナ</h3>
        <p class="station-name">さいたま新都心駅</p>
        <p class="on_foot">徒歩5分</p>
      </a>
    </div>
    <div class="top-index-venue">
      <a href="#">
        <h3>横浜アリーナ</h3>
        <p class="station-name">新横浜駅</p>
        <p class="on_foot">徒歩12分</p>
      </a>
    </div>
    <!-- TODO: ここまで回す -->
  </div>
</section>
