<section class="top-index-wrapper wrapper">
  <div class="top-index-search-form">
    <form>
      <input type="search" placeholder="会場名で検索">
      <input type="submit" value="検索">
    </form>
  </div>

  <div class="top-index-venues">
    <div class="top-index-venues-title title">
      <h2>よく検索されている会場</h2>
    </div>
    <!-- TODO: eachで回す -->
    <div class="top-index-venue">
      <a href="/venues/1">
        <div class="venue-icon">
          <i class="fas fa-subway"></i>
        </div>
        <div class="venue-descriptions">
          <h3>パシフィコ横浜</h3>
          <p class="station-name">みなとみらい駅 <span class="on_foot">徒歩7分</span></p>
        </div>

        <div class="action-button">
          会場の詳細 >
        </div>
      </a>
    </div>
    <div class="top-index-venue">
      <a href="/venues/1">
        <div class="venue-icon">
          <i class="fas fa-subway"></i>
        </div>
        <div class="venue-descriptions">
          <h3>さいたまスーパーアリーナ</h3>
          <p class="station-name">さいたま新都心駅 <span class="on_foot">徒歩5分</span></p>
        </div>

        <div class="action-button">
          会場の詳細 >
        </div>
      </a>
    </div>
    <div class="top-index-venue">
      <a href="/venues/1">
        <div class="venue-icon">
          <i class="fas fa-subway"></i>
        </div>
        <div class="venue-descriptions">
          <h3>横浜アリーナ</h3>
          <p class="station-name">新横浜駅 <span class="on_foot">徒歩12分</span></p>
        </div>

        <div class="action-button">
          会場の詳細 >
        </div>
      </a>
    </div>
    <div class="top-index-venue">
      <a href="/venues/1">
        <div class="venue-icon">
          <i class="fas fa-subway"></i>
        </div>
        <div class="venue-descriptions">
          <h3>横浜アリーナ</h3>
          <p class="station-name">新横浜駅 <span class="on_foot">徒歩12分</span></p>
        </div>

        <div class="action-button">
          会場の詳細 >
        </div>
      </a>
    </div>
    <!-- TODO: ここまで回す -->
  </div>
</section>
