<section class="venues-show-wrapper wrapper">
  <div class="venues-show-title title">
    <!-- TODO: 動的でタイトル表示 -->
    <h2>パシフィコ横浜 アクセス</h2>
  </div>

  <div class="venues-show-details">
    <div class="venues-show-station-and-no_foot">
      <p class="venues-show-station-and-no_foot--name">みなとみらい駅 <span class="on_foot">徒歩5分</span></p>
      <p class="route"><%= link_to "東京駅からの乗り換え案内をみる", "https://www.navitime.co.jp/transfer/searchlist?orvStationName=%E6%9D%B1%E4%BA%AC&orvStationCode=00006668&dnvStationName=#{"みなとみらい"}&dnvStationCode=&thr1StationName=&thr1StationCode=&thr2StationName=&thr2StationCode=&thr3StationName=&thr3StationCode=&basis=1&freePass=0&sort=4&wspeed=100&airplane=1&sprexprs=1&utrexprs=1&othexprs=1&mtrplbus=1&intercitybus=1&ferry=1#transfer_research", target: '_blank' %></p>
    </div>

    <div class="venues-show-venue-map">
      <p>Map</p>
      <iframe src="https://maps.google.com/maps?output=embed&q=35.459877,139.635306&t=m&hl=ja&z=18" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

    <div class="venues-show-access-url">
      <h3>公式サイト</h3>
      <br>
      <p><%= link_to 'https://www.pacifico.co.jp/visitor/access/tabid/236/Default.aspx', 'https://www.pacifico.co.jp/visitor/access/tabid/236/Default.aspx', target: '_blank' %></p>
  </div>
  </div>
</section>
