<section class="venues-show-wrapper wrapper">
  <div class="venues-show-title title">
    <!-- TODO: 動的でタイトル表示 -->
    <h2>パシフィコ横浜 アクセス</h2>
  </div>

  <div class="venues-show-station-and-no_foot">
    <p>みなとみらい駅 <span class="on_foot">徒歩5分</span></p>
  </div>

  <div class="venues-show-venue-map">
    <iframe src="https://maps.google.com/maps?output=embed&q=35.459877,139.635306&t=m&hl=ja&z=18" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>

  <div class="venues-show-access-url">
    <h3>公式サイト</h3>
    <%= link_to 'https://www.pacifico.co.jp/visitor/access/tabid/236/Default.aspx', 'https://www.pacifico.co.jp/visitor/access/tabid/236/Default.aspx' %>
  </div>
</section>
