<section class="admin-venues-index-wrapper wrapper">
  <div class="admin-venues-index-title title">
    <h2>会場入力ページ(Admin)</h2>
  </div>

  <div class="admin-venues-index-contents">
    <div class="admin-venues-index-contents-title">
      <h3>会場一覧</h3>
    </div>
    <div class="admin-venues-index-venue-contents">
      <!-- TODO: eachで回す -->
      <div class="venue-content">
        <p class="venue-name">パシフィコ横浜</p>
        <p>みなとみらい駅 徒歩5分</p>
        <p class="link-p"><%= link_to "編集", edit_admin_venue_path(1) %></p>
        <p class="link-p"><%= link_to "削除", "#", data: { confirm: '本当に削除してもよろしいですか？' }  %></p>
      </div>
      <div class="venue-content">
        <p class="venue-name">パシフィコ横浜</p>
        <p>みなとみらい駅 徒歩5分</p>
        <p class="link-p"><%= link_to "編集", edit_admin_venue_path(1) %></p>
        <p class="link-p"><%= link_to "削除", "#", data: { confirm: '本当に削除してもよろしいですか？' }  %></p>
      </div>
    </div>
  </div>
</section>
