<div class="admin-venues-new-wrapper wrapper">

  <div class="admin-venues-new-title title">
    <h2>会場登録フォーム</h2>
  </div>

  <div class="back-button">
    <p>
      <%= link_to '会場一覧ページに戻る', admin_venues_path %>
    </p>
  </div>

  <%= render 'form', { url: admin_venues_path, method_name: 'POST' } %>
</div>
