/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  isplay: block;
}

body {
  line-height: 1;
  font-family: "Sawarabi Gothic";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #444;
  transition: .3s;
}

a:hover {
  color: skyblue;
  transition: .3s;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

input, select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 6px;
}

/* header */

header {
  margin: 1.5% 15% 3% 15%;
  display: flex;
  justify-content: space-between;
}

.header-logo h1 {
  margin-top: 3%;
  font-size: 1.8rem;
  font-family: "Nico Moji";
}

.header-menu ul {
  margin-top: 3%;
  display: flex;
}

.header-menu ul li a {
  font-size: .92rem;
  padding-right: 43px;
}

/* footer */

footer {
  margin-top: 5%;
  margin-bottom: 1.5%;
}

footer a {
  color: rgb(255, 252, 252);
}

.footer-menu {
  background-color: #003366;
  color: rgb(255, 252, 252);
  padding-bottom: 3%;
}

.footer-menu ul {
  margin-left: 15%;
  display: flex;
  padding-top: 2.6%;
}

.footer-menu ul li a {
  margin-right: 32px;
  font-size: 1.06rem;
}

.footer-logo {
  text-align: center;
  margin-top: 1.8%;
}

.footer-logo h2 {
  font-family: "Nico Moji";
  font-size: 1.5rem;
  margin-bottom: .8%;
}

.footer-logo small {
  font-size: .88rem;
  font-style: italic;
}

/* common */

.wrapper {
  margin: 0 15%;
}

/* top#index */

.top-index-search-form {
  margin: 1.5% auto;
}

.top-index-search-form form input[type="search"] {
  width: 55%;
  height: 38px;
  padding-left: 1.5%;
  font-weight: 520;
}

.top-index-search-form form input::placeholder {
  color: #888;
}

.top-index-search-form form input[type="submit"] {
  color: #fefefe;
  background-color: #111;
  height: 38px;
  width: 7%;
  border-radius: 5px;
  transition: .3s;
}

.top-index-search-form form input[type="submit"]:hover {
  opacity: .8;
  transition: .3s;
}
