<footer>
  <div class="footer-menu">
      <ul>
          <li><a href="#">ヘルプ</a></li>
          <li><a href="#">使い方</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">お問い合わせ</a></li>
      </ul>
  </div>
  <div class="footer-logo">
      <h2>もよりる</h2>
      <small>&copy; 2021 Milkyway. All Rights Reserved.</small>
  </div>
</footer>
