<header>
  <div class="header-logo">
    <h1><a href="/">もよりる</a></h1>
  </div>
  <div class="header-menu">
    <ul>
      <li><a href="#">ヘルプ</a></li>
      <li><a href="#">ログイン</a></li>
      <li><a href="#">新規会員登録</a></li>
    </ul>
  </div>
</header>
