<header>
  <div class="header-logo">
    <h1>
      <a href="/">もよりる</a>
    </h1>
  </div>
  <div class="header-menu">
    <ul>
      <li><%= link_to 'ヘルプ', '#', onclick: "alert('準備中です')" %></li>
      <li><%= link_to 'ログイン', '#', onclick: "alert('準備中です')" %></li>
      <li><%= link_to '新規会員登録', '#', onclick: "alert('準備中です')" %></li>
    </ul>
  </div>
</header>
